*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  :root{
    --dark: #7FB77E;
    --light: #F7F6DC;
  }
  
  body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--light);
  }
  
  
  .head{
    width: 100%;
    background-color:  var(--dark);
  }
  .head h1{
    text-align: center;
    padding: 20px 0;
    font-size: 1.6em;
    color: var(--light);
  }
  
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  .profile .img{
    width: 200px;
    height: 200px;
    /* background-color: rgb(255, 196, 0); */
    background-color: var(--dark);
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
    display: flex;
    justify-content: center;
  }
  .profile img{
    width: 150px;
    border-radius: 2px;
  }
  .profile h2{
    position: sticky;
    top: 8px;
    font-size: 1.5em;
  }
  .profile p{
    font-size: 1.1em;
    font-weight: 500;
    padding-top: 3px;
  }
  .profile p span{
    color: var(--dark);
  }
  .sosmed{
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  .sosmed i{
    color: var(--dark);
  }
  .about{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }
  .about h4{
    font-size: 1.5em;
  }
  .garis{
    width: 40%;
    height: 2px;
    margin: 10px auto;
    background-color: lightgray;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .garis span{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--dark);
    border-radius: 50%;
    border: 5px solid var(--light);
  }
  .about p{
    padding: 20px 0;
    line-height: 1.7em;
    font-size: 1.2em;
  }
  .about p span{
    color: var(--dark);
    font-weight: 600;
  }
  .row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 50px;
  }
  .col{
    width: 45%;
  }
  .col h4{
    font-size: 1.1em;
  }
  .col h4 span{
    color: var(--dark);
  }
  .pro{
    width: 70%;
    height: 2px;
    background-color: lightgray;
    position: relative;
    margin: 5px 0;
  }
  .pro span{
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: var(--dark);
  }
  .col ul{
    padding: 20px 0 20px 5px;
  }
  .col ul li{
    padding: 5px 0;
  }
  
  footer{
    width: 55%;
    height: 70px;
    background-color: var(--dark);
    margin-left: 45%;
    border-top-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer h4{
    color: var(--light);
    font-size: 1.2em;
  }
  footer h4:before{
    content: '';
    animation: animate 10s linear infinite;
  }
  @keyframes animate {
    0%{
      content: 'TERIMA KASIH';
    }
    40%{
      content: 'KAWAN-KAWAN';
    }
    60%{
      content: 'WASSALAMUALIKUM..';
    }
    100%{
      content: '....';
    }
  }