*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700;900&display=swap');
body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

 /*  */
 header#header {
   /* border: 1px solid; */
   width: 200px;
 }
 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;

 }
 .logo{  position: relative;
  width: 60px;
  height: 60px;

}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.item {
  width: 30px;
  height: 30px;
  position: absolute;
}

.item-1 {
  background-color: rgb(250, 87, 103);
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 3s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-2 {
  background-color: rgb(121, 68, 228);
  top: 0;
  right: 0;
  animation: item-2_move 3s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-3 {
  background-color: rgb(27, 145, 247);
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 3s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-4 {
  background-color: rgb(250, 194, 76);
  bottom: 0;
  left: 0;
  animation: item-4_move 3s cubic-bezier(.6,.01,.4,1) infinite;
}

@keyframes item-1_move {
  0%, 100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(0, 30px)
  }

  50% {
    transform: translate(30px, 30px)
  }

  75% {
    transform: translate(30px, 0)
  }
}

@keyframes item-2_move {
  0%, 100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(-30px, 0)
  }

  50% {
    transform: translate(-30px, 30px)
  }

  75% {
    transform: translate(0, 30px)
  }
}

@keyframes item-3_move {
  0%, 100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(0, -30px)
  }

  50% {
    transform: translate(-30px, -30px)
  }

  75% {
    transform: translate(-30px, 0)
  }
}

@keyframes item-4_move {
  0%, 100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(30px, 0)
  }

  50% {
    transform: translate(30px, -30px)
  }

  75% {
    transform: translate(0, -30px)
  }
}

/*  */

#about{
  background: #F7C945;  
}
#about .container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#about .container .about-description{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#about .container .about-description h1{
  font-weight: 700;
  font-size: 4.5em;
  letter-spacing: 0.1px;
  line-height: 1.6cm;
}
#about .container .about-description p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 2.5ch;
}
#about .container .about-image{  

}
#about .container .about-image img{ 
  width: 400px;
}
#about .container .about-description .button{
  display: flex;
  gap: 20px;
}
#about .container .about-description .button a:first-child{
  background-color: black;
  color: white;
}
#about .container .about-description .button a:last-child{
  border: 2px solid black;
  color: black;
}
#about .container .about-description .button a{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: 700;
}