@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    list-style-type: none;
}
.about{
    width: 90%;
    margin: 0 auto;
}
.heading {
    text-align: center;
    font-size: 2em;
    margin: 50px 0;
}
/* Aboutnya mas */
.about .column{
    display: flex;
   
    justify-content: space-between;
    flex-wrap: wrap;
}
.image{
    /* width: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .column .image img{
    margin-top: -300px;
    max-width: 700px;
    display: flex;
}

.about .column .content{
    max-width: 750px;
    flex-direction: column;
    display: flex;
    
    gap: 20px;
}

.about .column .content h3{
    font-size: 3rem;
    color: #666;
}

.about .column .content p{
    font-size: 1.1rem;
    color: #666;
    padding: 1rem 0;
}

.about .column .content .buttons a:last-child{
    margin-left: 2rem;
}
.gelap{
    background-color: black;
    color: white;
    transition: 1s;
    cursor:pointer;
}
.mode{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5px 0.6px 7px lightgray;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
ul{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    left: 75px;
    top: 20px;
}
ul li{
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
}
ul li a{
    color: white;
}